/* header start */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.top-banner{
    background-color: #2D25A0;
    width: 100%;
}
.menu{
    color: white;
    display: flex;
    font-size: 15px;
    flex-direction: row;
    margin-left: 10%;
    gap: 2%;
}
#login{
    position: absolute;
    left: 85%;
    background: #E02C6D;
    padding: 3px 15px;
}
.top-info {
    display: flex;
    align-items: center;
    color: white;
    font-size: 45px;
    margin-left: 10%;
}
.top-info img{
    width: 600px;
    margin: 10% 85% 5% 15%;
}