/* header start */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.top-banner{
    background-color: #2D25A0;
    width: 100%;
}
.menu{
    color: white;
    display: flex;
    cursor: pointer;
    font-size: 15px;
    flex-direction: row;
    margin-left: 10%;
    gap: 2%;
}
#login {
    position: absolute;
    left: 85%;
    color: white;
    background: #E02C6D;
    cursor: pointer;
    padding: 3px 15px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(33, 49, 88);
}

.top-info {
    display: flex;
    align-items: center;
    color: white;
    font-size: 45px;
    margin-left: 10%;
    overflow: hidden;
}
.top-info img{
    width: 600px;
    margin: 10% 85% 5% 15%;
}
#img:hover img{
    transform: scale(1.1);
    transition: transform 0.5s;
}

/* header end */


/* common style */

#watch-now{
    font-size: 20px;
    color: white;
    background: #E02C6D;
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(33, 49, 88);
}



/* main start*/

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player{
    margin: 15%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
.player img{
    border-radius: 5px;
    width: 100%;
}

#schedule{
    display: flex;
    align-items: center;
}
#schedule-info{
    margin: 5% 2% 10% 8%;
}
#schedule img{
    width: 100%;
    border-radius: 10px;
    margin: 5% 5% 10% 8%;
    box-shadow: 15px 15px 45px gray;
}
#match{
    display: flex;
    align-items: center;
}
#match-info{
    margin: 5% 5% 5% 20%;
}
#match-img img{
    width: 120%;
    margin: 5% 0% 5% 20%;
    border-radius: 10px;
    box-shadow: 15px 15px 45px gray;
}

/* main end */


/* footer start */

#footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer-logo img{
    width: 50%;
    padding-left: 20%;
}
#icons{
    width: 32px;
    margin-right: 100px;
    display: flex;
}
.fab{
    font-size: 25px;
    width: 35px;
    color: #8a8a8a;
}
#copyright{
    font-weight: normal;
    font-size: 20px;
}

/* footer end */


/* media queries */
/* mobile devises */

@media only screen and (max-width: 688px) {

    /* header start */
    .menu{
        font-size: 8px;
        margin-left: 10%;
    }
    #login {
        padding: 2px 5px;
    }
    .top-info {
        display: flex;
        flex-direction: column;
        font-size: 30px;
        margin-left: 10%;
    }
    .top-info img{
        width: 300px;
        margin-top: 20%;
        margin-left: -45%;
        margin-right: 0%;
        margin-bottom: 10%;
    }
    /* header end */

    /* common style */
    #watch-now{
        font-size: 10px;
        padding: 2px 5px;
        box-shadow: 10px 10px 10px rgb(33, 49, 88);
    }

    /* main start */
    .players{
        margin-top: 10%;
        grid-template-columns: repeat(1, 1fr);
    }
    
    #schedule{
        display: flex;
        flex-direction: column;
    }
    #schedule-info{
        margin: 10%;
        font-size: 13px;
    }
    #schedule img{
        width: 80%;
        margin: 5% 5% 20% 0%;
    }
    #match{
        display: none;
    }
    /* main end */

    /* footer start */
    #footer-logo img{
        width: 30%;
        padding-left: 35%;
    }
    #icons{
        width: 22px;
        margin-left: 10%;
    }
    .fab{
        font-size: 15px;
        width: 25px;
    }
    #copyright{
        font-size: 10px;
    }
    /* footer end */
}